@tailwind base;

@tailwind components;

@tailwind utilities;

// Colors
:root {
  // Text
  --color-text-primary: #202020;
  --color-text-secondary: rgba(0, 0, 0, 0.6);

  // Primary
  --color-primary-base: rgba(128, 237, 153, 1);
  --color-primary-dark: rgba(128, 237, 153, 1);

  // Secondary
  --color-secondary-base: #202020;

  // Background
  --color-background-container: #FFFFFF;
  --color-background-component: rgba(32, 32, 32, 0.05);

  // Base
  --color-base-black: #202020;
  --color-base-white: #FFFFFF;
}

html {
  @apply font-primary;
}

@layer components {
  .section-title {
    @apply font-bold text-center mb-[58px];

    @apply sm:text-h3;
  }
}
